/*Definindo a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --cor-principal: #00bf63;
   --cor1: #798354;
   --cor2: #eaecdf;
   --cor3: #6f9b7a;
   --preto: #000000;
   --branco: #FFFFFF;
}

body{
    font-size: 1rem;
    font-family: 'Montserrat';/*nome fonte*/
}

section{
    padding-bottom: 5rem;

}

header{
    background-color: var(--cor-principal);
}

.nav-link{
    font-weight: 600;
    color: var(--cor1);
    text-decoration: underline;
}

.inicio-fundo{
    background-image: url(img/HUD/O_ciclo_da_vida_no_solo_do_mangue.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.esquerda-conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

/*tirando só pra ver oq dá*/
/*.botao-inicio{
    background-color: var(--cor3);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}*/

.display-4{
    text-shadow: -5px 5px var(--cor2);
}

#SaposCururus{
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor2);
    background-size: 120px 120px; /* ajuste o tamanho conforme necessário */
}

#SaposCururus.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;/*Garante que o conteúdo fique acima das imagens de backgrounds se houverem*/
}

#contato{
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--cor1);/*--branco*/
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button{
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control{
    background-color: var(--cor2);
}

.menu-acessibilidade{
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}